/*
  This file is part of motion-webplayer
  motion-webplayer is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 2as published by
  the Free Software Foundation
  
  motion-webplayer is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with motion-webplayer.  If not, see <http://www.gnu.org/licenses/>.
  
  Contains portions of code from Dag Erlandsson (langarod@gmail.com) - http://www.lavrsen.dk/foswiki/bin/view/Motion/MotionJpegViewer
  
  Author: Matthew Watts 2015
*/

.body {
  
}

/* Header containing feed and date selectors */
#header {
	background-color: yellow;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 30px;
	width: 100%;
	min-width: 100%;
}

/* Feed selection */
#feedbuttons_container {
	position: absolute;
	height: 20px;
	font-size: 1em;
	top: 8px;
	left: 4px;
}

#datePicker_container {
	position: absolute;
	height: 20px;
	font-size: 1em;
	top: 8px;
	right: 4px;
}

/* Feed Selection button at various states */
.feedSelect {
  margin-top: 5px;
  background: #f2e716;
  background-image: -webkit-linear-gradient(top, #f2e716, #8c8838);
  background-image: -moz-linear-gradient(top, #f2e716, #8c8838);
  background-image: -ms-linear-gradient(top, #f2e716, #8c8838);
  background-image: -o-linear-gradient(top, #f2e716, #8c8838);
  background-image: linear-gradient(to bottom, #f2e716, #8c8838);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 3px 6px 3px 7px;
  text-decoration: none;
  margin-right:10px;
  margin-left:10px;
}

.feedUnSelect {
  background: #696a73;
  background-image: -webkit-linear-gradient(top, #696a73, #24241b);
  background-image: -moz-linear-gradient(top, #696a73, #24241b);
  background-image: -ms-linear-gradient(top, #696a73, #24241b);
  background-image: -o-linear-gradient(top, #696a73, #24241b);
  background-image: linear-gradient(to bottom, #696a73, #24241b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 6px 3px 7px;
  text-decoration: none;
  margin-right:5px;
  margin-left:5px;
}

.feedUnSelect:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#frames_container {
  position: absolute; top: 35px; bottom: 60px; width: 100%; display: flex;
  justify-content: space-between;
}

#image1 {
	height: 100%;
	width: 98%;
}

#loading_frameimage {
	display: none; position: absolute; top: 40%; left: 45%; height: 10%; width: 10%;
}

#frames_container video {
  height: 100%;
  width: 98%;
}

#footer_container {
  padding-top: 20px; position: absolute; bottom: 0px; width: 100%;  display: none;
}

#progress_container {
  position: relative; height: 20px; min-height: 6px; width: 96%; left: 2%; 
}

#progress_container progress {
  height:20px; width: 100%; position: absolute; top: 0; z-index: 9000;
}

#progress_container img {
  height:20px; width:100%; position: absolute; top: 0; z-index: 9010;
}

#player_controls_container {
  position: relative; height: 24px; min-height: 24px; width: 100%; padding-top: 5px; padding-bottom: 5px; display: flex;
  justify-content: space-between;
}

#player_controls_container img {
  cursor: pointer; width: 24px; height: 24px;
}

#player_controls_container input {
  width: 80px; height: 24px; vertical-align:center;
}

#timeText_container {

}

#timeText_container input {
  font-size: 15px; width: 18px; border-width:0px; border:none;
}
