/*
  This file is part of motion-webplayer
  motion-webplayer is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 2as published by
  the Free Software Foundation
  
  motion-webplayer is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with motion-webplayer.  If not, see <http://www.gnu.org/licenses/>.
  
  Contains portions of code from Dag Erlandsson (langarod@gmail.com) - http://www.lavrsen.dk/foswiki/bin/view/Motion/MotionJpegViewer
  
  Author: Matthew Watts 2015
*/

.body {
  
}

#feedbuttons_div {
  height: 25px;
}

.feedSelect {
  background: #f2e716;
  background-image: -webkit-linear-gradient(top, #f2e716, #8c8838);
  background-image: -moz-linear-gradient(top, #f2e716, #8c8838);
  background-image: -ms-linear-gradient(top, #f2e716, #8c8838);
  background-image: -o-linear-gradient(top, #f2e716, #8c8838);
  background-image: linear-gradient(to bottom, #f2e716, #8c8838);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 6px 3px 7px;
  text-decoration: none;
}

.feedUnSelect {
  background: #696a73;
  background-image: -webkit-linear-gradient(top, #696a73, #24241b);
  background-image: -moz-linear-gradient(top, #696a73, #24241b);
  background-image: -ms-linear-gradient(top, #696a73, #24241b);
  background-image: -o-linear-gradient(top, #696a73, #24241b);
  background-image: linear-gradient(to bottom, #696a73, #24241b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 6px 3px 7px;
  text-decoration: none;
}

.feedUnSelect:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#feedbuttons_div img {
  height: 25px;
}


